@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

body {
  margin: 0;
  display: flex;
  font-family: 'Roboto', sans-serif;
}

.sidebar {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  background-image: url(./guitar-sidebar.jpg);
  background-size: cover;
  width: 40%;
  color: white;
  text-align: center;
}

.sidebar-text {
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 25vh;
  padding: 20px 0;
}

.sidebar-text h1 {
  font-size: 2.5rem;
  font-family: 'Rock Salt', cursive;
  display: inline;
}

.sidebar .attribution a:any-link {
  color: white;
}

#logo {
  width: 5rem;
  position: relative;
  top: 20px;
}

.main {
  flex: 2;
  width: 60%;
  background-color: #f9fafb;
}

.title-text {
  padding: 15vh 3rem 5vh;
}

.middle {
  background-color: white;
  padding: 2rem 3rem;
  box-shadow: rgb(207, 207, 207) 6px 6px 10px;
}

form {
  display: flex;
  flex-direction: column;
}

.middle h2 {
  margin-top: 0;
}

.bottom {
  padding: 2rem 3rem;
}

label {
  text-transform: uppercase;
  width: 100%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  width: 100%;
}

input {
  border: 2px solid #E5E7EB;
  border-radius: 4px;
  padding: 8px;
}

input:focus {
  outline: none;
  border: 2px solid blue;
  box-shadow: rgb(207, 207, 207) 6px 6px 10px;
}

input.error {
  border: 2px solid red;
}

.error-msg {
  color: red;
}

section {
  flex: 1;
  display: flex;
}

section>p {
  flex: 1;
  margin: 20px 10vw 20px 0;
}

button {
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  border: 2px solid #88571b;
  border-radius: 4px;
  box-shadow: rgb(207, 207, 207) 6px 6px 10px;
  padding: 16px;
  background-color: #aa6c22;
}